html {
	background-color: black;
	background-image: url("horrorBG.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	border: 1px solid transparent;
	height: 100%;
}
body {
	
}
#homeDiv {
	float: left;
	background-color: rgba(54, 54, 54, 0.9);
	margin-top: 10px;
	border-radius: 10px;
	opacity: 0.2;
	transition: all 1s ease;
	cursor: pointer;
	width: 130px;
}
#homeDiv:hover {
	opacity: 0.6;
}
#backArrow {
	width: 30px;
	height: 30px;
}
#homeP {
	text-decoration: none;
	color: black;
	float: right;
	margin: 8px 10px 0px 0px;
}
#centerColumnDiv {
	margin:10px auto 10px auto;
	height: auto;
	padding: 0;
	border-radius: 10px;
	max-width:70%;
	width: 70%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, .4);
	transition: all 0.75s ease;
	display: block;
	text-align: center;
}
#titleDiv {

	margin:10px auto 0px auto;
	height:100px;
	padding: 0;
	border-radius: 10px;
	max-width:100%;
	width: 100%;
	overflow: hidden;
	background-color: rgba(126, 0, 0, .4);
	transition: all 0.75s ease;
	text-align: center;
}
#titleH1 {

	margin-bottom: 0px;
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: #001C22;
	opacity: 0.9;
}
#subtitleP {
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: black;
	margin-top: 0px;
	margin-bottom: 0px;
	opacity: 1;
}
#preview1 {
	display: block;
	width: 100% !important;
	height: auto !important;
}
.columnTitle {
	font-family: sans-serif;
	font-size: 24px;
	color: rgba(126, 0, 0, 1);
}