html {
	height:100%;
	min-width: 1084px;
	background-image: url("homeBG.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
body {
	/* background-color: rgba(85, 85, 85, 0.6); */
	background-image: url("assets/retro_fantasy_background.png")/*linear-gradient(to bottom right,#F0F0F0, #82BBC4)*/;
	background-size: cover;
	background-position: bottom;
	margin: 0;
	text-align: center;
	display: block;
	transition: all 0.5s ease;
	height:100%;
}
h1 {
	font-family: sans-serif;
	font-weight: bold;
}
#titleDiv {

	margin: 0px;
	height: auto;
	padding: 0;
	max-width: 100%;
	width: 100%;
	overflow: hidden;
	background-color: #272838;
	/* background-color: rgba(54, 54, 54, 0.7); */
	transition: all 0.5s ease;

}
#titleH1 {

	margin-bottom: 0px;
	margin-top: 20px;
	font-family: sans-serif;
	font-size: 36px;
	font-weight: normal;
	/* color: #04B4AE; */
	color: #ffffff;
	opacity: 0.9;
}
#subtitleP {
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	/* color: rgba(175, 175, 175, 1); */
	color: #272838;
	margin-top: 0px;
	margin-bottom: 0px;
	opacity: 0.9;
}
#tabsDiv {
	max-width: 100%;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	height: 35px;
	margin-top: 0px;
	display: inline-flex;
	transition: all 0.5s ease;
}
#projectsTab {
	
}
.tabs {
	height: 30px;
	width: 100px;
	/* background-color: rgba(135, 135, 135, 0.2); */
	background-color: rgba(39, 40, 56, 0.2);
	color: #82BBC4;
	margin-left: 20px;
	margin-top: 0px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding-top: 8px;
	transition: background-color 0.3s ease-in;
	cursor: pointer;
}
.tabs:hover {
	/* background-color: rgba(135, 135, 135, 0.7); */
	background-color: rgba(240, 240, 240, 0.7);
	color: #272838;
	transition: background-color 0.3s ease-out;
}
.tabs:active {
	/* background-color: rgba(135, 135, 135, 1); */
	background-color: #EB8855;
	color: #272838;
	transition: background-color 0.3s ease-out;
}
.tabsP {
	font-size: 18px;
	font-family: sans-serif;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	/* color: #04B4AE; */
	cursor: pointer;
}
#projectsPage {
	
}
.pages {
	transition: all 1s ease;
	overflow: hidden;
}
.list {
	margin:10px auto 0px auto;
	display: block;
	max-width:75%;
	width: 75%;
	overflow: hidden;
	box-shadow: 0px 0px 3px 1px #838383;
	border-radius: 10px;
	background-color: rgba(38, 27, 40, .6);
	transition: all 0.7s ease;
	cursor: pointer;
	padding-bottom: 0px;
}
.list:hover {
	background-color: rgba(38, 27, 40, 0.9);
}
.listTitle {
	margin-left: 20px;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 22px;
	opacity: .9;
	color: #F0F0F0;
}
.listImage{
	width:70px;
	height: 70px;
}
.listSubtitle {
	margin-left: 20px;
	margin-right: 25px;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 22px;
	opacity: .9;
	color: rgba(175, 175, 175, 1);
}
.listSubDiv {
	background-color: rgba(54, 54, 54, 0.5);
	border-radius: 10px;
	margin-left: 10px;
	margin-bottom: 0px;
	display: inline-flex;
	float: right;
}
.listDiv {
	border-radius: 10px;
	margin-left: 0px;
	display:inline-flex;
	float: left;
}
.spacerDiv {
	height: 20px;
	width: 20px;
}
#skullIcon
{
	width:62px;
	background-color: black;
	padding-left: 4.5px;
	padding-right: 4.5px;
}
